/*!*******************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!./css/roboto.css ***!
  \*******************************************************************/
@font-face {
  font-family: "Roboto";
  src: url(../d535d388dc916299d083.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../2ddbea4806c184d186fa.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*!******************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!./css/style.css ***!
  \******************************************************************/


/*!************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/less-loader/dist/cjs.js!./less/style.less ***!
  \************************************************************************************************************/
body {
  background-color: #ffffff;
  color: #9f9f9f;
  font-family: "Helvetica", "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}
.vissualy-hidden {
  display: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.button {
  font-family: "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #000000;
  padding-top: 19px;
  padding-bottom: 18px;
  width: 100%;
}
@media (min-width: 1110px) {
  .button {
    padding-top: 24px;
    padding-bottom: 23px;
    width: 505px;
  }
}
.button-submit:active {
  opacity: 0.5;
}
.button-submit:hover,
.button-submit:focus {
  color: #ffffff;
  background-color: #000000;
}
.global-wrapper {
  min-width: 288px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 17px;
}
@media (min-width: 1110px) {
  .global-wrapper {
    max-width: 1110px;
    padding-left: 0;
    padding-right: 0;
  }
}
.color-red {
  color: red !important;
  border-color: red !important;
}
[data-tooltip] {
  position: relative;
  /* Относительное позиционирование */
}
[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  /* Выводим текст */
  position: absolute;
  /* Абсолютное позиционирование */
  width: 200px;
  left: 0;
  background: #9f9f9f;
  color: #fff;
  padding: 0.5em;
  pointer-events: none;
  /* Подсказка */
  transition: 1s;
  /* Время появления подсказки */
  opacity: 1;
  /* Показываем подсказку */
  top: 36px;
  /* Положение подсказки */
}
h1,
h2,
h3,
h4,
p,
a {
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
::placeholder {
  font-family: "Helvetica", "Roboto", "Arial", sans-serif;
}
input,
textarea {
  font-family: "Helvetica", "Roboto", "Arial", sans-serif;
}
input:focus::placeholder,
textarea:focus::placeholder {
  font-size: 0px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 1110px) {
  .page-header__logo-link {
    position: absolute;
    top: 99px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}
.page-header__logo-img {
  height: 24px;
  width: 77px;
}
@media (min-width: 1110px) {
  .page-header__logo-img {
    width: 160px;
    height: 50px;
  }
}
.main-nav {
  display: flex;
  flex-direction: column;
}
.main-nav__first-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 38px;
  margin-top: 18px;
}
@media (min-width: 1110px) {
  .main-nav__first-container {
    margin-bottom: 60px;
    margin-top: 30px;
  }
}
.main-nav__left-icon {
  display: flex;
  flex-direction: row;
}
.main-nav_toggle-button,
.button-search,
.main-nav__tabs {
  padding: 0;
  margin: 0;
  border: none;
  background: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  stroke: #000000;
}
.main-nav_toggle-button:hover,
.button-search:hover,
.main-nav__tabs:hover {
  stroke: #9f9f9f;
}
.main-nav__basket {
  position: relative;
}
@media (min-width: 1110px) {
  .main-nav__basket-svg {
    width: 31px;
    height: 29px;
  }
}
@media (min-width: 1110px) {
  .main-nav__favorites-svg {
    width: 28px;
    height: 25px;
  }
}
.main-nav__tabs-basket--count {
  top: 0px;
  right: 0px;
  position: absolute;
  color: #ffffff;
  font-weight: 400;
  background-color: #000000;
  border-radius: 50%;
  font-size: 12px;
  line-height: 16px;
  width: 16px;
  text-align: center;
}
.main-nav__basket:hover .main-nav__tabs-basket--count {
  background-color: #9f9f9f;
}
@media (min-width: 1110px) {
  .button-search {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
}
@media (min-width: 1110px) {
  .button-search-svg {
    width: 25px;
    height: 25px;
  }
}
.main-nav_toggle-button {
  margin-right: 15px;
}
@media (min-width: 1110px) {
  .main-nav_toggle-button {
    display: none;
  }
}
.main-nav__search {
  display: flex;
  flex-direction: row;
}
.main-nav__search-input--hidden {
  display: none;
}
.main-nav__search-input {
  border: none;
  border-bottom: 1px solid #9f9f9f;
  padding: 6px 0px;
  margin-left: 8px;
  font-size: 16px;
  line-height: 18px;
}
.main-nav__search-input:hover,
.main-nav__search-input:focus,
.main-nav__search-input:focus-visible {
  color: #000000;
  outline: none;
}
@media (min-width: 1110px) {
  .main-nav__search-input {
    display: block;
    width: 250px;
    font-size: 18px;
    line-height: 21px;
  }
}
.main-nav__search-input::placeholder {
  color: #9f9f9f;
}
.main-nav__right-icon {
  display: flex;
  flex-direction: row;
  width: 71px;
  justify-content: space-between;
  align-items: start;
}
@media (min-width: 1110px) {
  .main-nav__right-icon {
    width: 125px;
    align-items: end;
  }
}
.main-nav__list {
  position: absolute;
  left: 0;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  z-index: 1001;
  top: 50px;
  background-color: #ffffff;
  width: 100%;
  align-items: center;
  height: 100%;
}
@media (min-width: 1110px) {
  .main-nav__list {
    position: static;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
    background-color: transparent;
  }
}
.main-nav--closed .close {
  display: none;
}
.main-nav--openad .open {
  display: none;
}
.main-nav--closed .main-nav__list {
  display: none;
}
@media (min-width: 1110px) {
  .main-nav--closed .main-nav__list {
    display: flex;
  }
}
.main-nav--openad .main-nav__list {
  display: flex;
}
.main-nav__list-left,
.main-nav__list-right {
  flex-direction: column;
}
@media (min-width: 1110px) {
  .main-nav__list-left,
  .main-nav__list-right {
    width: 411px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.main-nav__item {
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-nav__item-link {
  font-family: "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 10px;
  stroke: #000000;
}
@media (min-width: 1110px) {
  .main-nav__item-link {
    color: #9f9f9f;
    padding: 0px;
  }
}
.main-nav__item-link:hover {
  color: #9f9f9f;
  stroke: #9f9f9f;
}
@media (min-width: 1110px) {
  .main-nav__item-link:hover {
    color: #000000;
  }
}
@media (min-width: 1110px) {
  .main-nav__item--profile {
    display: none;
  }
}
.main-nav__tabs--profile {
  display: none;
}
@media (min-width: 1110px) {
  .main-nav__tabs--profile {
    display: flex;
  }
}
.page-main__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0;
  text-align: left;
  color: #000000;
  margin-bottom: 12px;
}
@media (min-width: 1110px) {
  .page-main__title {
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 15px;
  }
}
.page-main-basket-container {
  position: relative;
}
.bread-crumbs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}
@media (min-width: 1110px) {
  .bread-crumbs {
    margin-bottom: 50px;
  }
}
.bread-crumbs__item {
  list-style: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
  text-align: left;
  margin-right: 12px;
}
.bread-crumbs__item:last-child {
  margin-right: 0;
}
.bread-crumbs__item-link {
  color: #9f9f9f;
  text-decoration: none;
}
.bread-crumbs__item-link:hover {
  color: #000000;
}
.bread-crumbs__item-link--current {
  color: #000000;
}
.user-block {
  display: flex;
  flex-direction: row;
  margin-bottom: 42px;
}
@media (min-width: 1110px) {
  .user-block {
    margin-bottom: 38px;
  }
}
.user-block__text {
  font-size: 17px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;
  text-align: left;
  color: #000000;
  padding-right: 6px;
}
.user-block__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  color: #9f9f9f;
}
.user-block__link:hover {
  color: #000000;
}
.form_form {
  display: flex;
  flex-direction: column;
}
#map {
  height: 200px;
  margin-bottom: 33px;
}
@media (min-width: 1110px) {
  #map {
    margin-bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 555px;
    height: 700px;
  }
}
.form__map-address {
  margin-bottom: 28px;
}
@media (min-width: 1110px) {
  .form__map-address {
    margin-bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 555px;
    height: 700px;
  }
}
.form__label {
  font-size: 14px;
  position: relative;
  margin-bottom: 25px;
}
@media (min-width: 1110px) {
  .form__label {
    margin-bottom: 28px;
  }
}
.form_form > .form__label:last-of-type {
  margin-bottom: 37px;
}
@media (min-width: 1110px) {
  .form_form > .form__label:last-of-type {
    margin-bottom: 69px;
  }
}
.form__label--type-packaging {
  margin-bottom: 6px;
}
@media (min-width: 1110px) {
  .form__label--type-packaging {
    margin-bottom: 10px;
  }
}
.form__label .form__input,
.form__select {
  border: none;
  appearance: none;
  background: #f2f2f2;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0;
  text-align: left;
  color: #000000;
  background-color: transparent;
  border-bottom: 1px solid #9f9f9f;
  padding: 9px 0px;
  height: 37px;
}
.form__label--adress {
  margin-bottom: 12px;
}
@media (min-width: 1110px) {
  .form__label--adress {
    margin-bottom: 27px;
  }
}
.form__label .form__placeholder {
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  letter-spacing: 0;
  font-weight: 400;
  position: absolute;
  left: 0;
  bottom: 60%;
  top: 22px;
}
.form__label .form__placeholder:not(.form__placeholder-q) {
  transform: translateY(-9px);
  width: calc(100% - 24px);
  color: #aaa;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #9f9f9f;
  transition: top 0.5s ease, color 0.5s ease, font-size 0.5s ease;
}
.form__label input:focus + .form__placeholder,
.form__label select:focus + .form__placeholder,
.form__label textarea:focus + .form__placeholder,
.form__label textarea:focus ~ .form__placeholder,
.form__label input:not(:placeholder-shown) + .form__placeholder,
.form__label select:not(:placeholder-shown) + .form__placeholder,
.form__label textarea:not(:placeholder-shown) + .form__placeholder,
.form__label textarea:not(:placeholder-shown) ~ .form__placeholder,
.form__label .form__placeholder-q {
  top: 0;
  font-size: 12px;
  color: #9f9f9f;
}
@media (min-width: 1110px) {
  .form__label input:focus + .form__placeholder,
  .form__label select:focus + .form__placeholder,
  .form__label textarea:focus + .form__placeholder,
  .form__label textarea:focus ~ .form__placeholder,
  .form__label input:not(:placeholder-shown) + .form__placeholder,
  .form__label select:not(:placeholder-shown) + .form__placeholder,
  .form__label textarea:not(:placeholder-shown) + .form__placeholder,
  .form__label textarea:not(:placeholder-shown) ~ .form__placeholder,
  .form__label .form__placeholder-q {
    top: -2px;
  }
}
.form__label .form__placeholder-q {
  top: -9px;
}
.form__input,
.form__select {
  min-width: 278px;
  width: 100%;
}
.form__input:focus,
.form__select:focus,
.form__input:hover,
.form__select:hover,
.form__input:active,
.form__select:active {
  outline: none;
}
@media (min-width: 1110px) {
  .form__input,
  .form__select {
    width: 505px;
  }
}
.form__select {
  height: 0;
  padding: 0;
  margin: 0;
  border: 0px solid #ffffff;
}
option {
  background: #ffffff;
  font-family: "Helvetica", "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #9f9f9f;
}
.form__input--textarea {
  resize: none;
  overflow: hidden;
}
.form__label--adress > .form__input--textarea {
  height: 56px;
}
@media (min-width: 1110px) {
  .form__label--adress > .form__input--textarea {
    height: 37px;
  }
}
.form__two-columns {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1110px) {
  .form__two-columns {
    width: 505px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1110px) {
  .form__two-columns .form__input {
    min-width: 235px;
    width: 235px;
  }
}
.select-wrapper {
  display: inline-block;
  vertical-align: top;
  min-width: 286px;
  width: 100%;
}
@media (min-width: 1110px) {
  .select-wrapper {
    width: 505px;
  }
}
.select-wrap {
  max-width: 700px;
  width: 100%;
  margin: 20px auto;
}
.select-wrap select {
  margin: 20px;
}
.select__gap {
  background: transparent;
  color: #9f9f9f;
  border-bottom: 1px solid #9f9f9f;
  font-size: 16px;
  padding: 9px 0px;
  cursor: pointer;
  position: relative;
}
.on.select__gap {
  border: none;
}
.select__list {
  background: transparent;
  border: 1px solid #9f9f9f;
  border-radius: 5px;
  margin: 0px 0;
}
.select__list.on {
  display: block;
}
.select__item span {
  display: block;
  padding: 10px 15px;
  cursor: pointer;
  color: #9f9f9f;
}
.select__item.selected,
.select__item span:hover {
  color: #000000;
}
.select__gap:after {
  content: "";
  background-image: url(../dde46c203336ebf5ab20.svg);
  display: block;
  width: 16px;
  height: 9px;
  position: absolute;
  right: 4px;
  top: 50%;
  margin-top: -7px;
  transition: all 0.27s ease-in-out;
  transform: rotate(0deg);
}
.on.select__gap:after {
  transform: rotate(180deg);
}
.purchases__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
  color: #000000;
  margin-bottom: 32px;
}
@media (min-width: 1110px) {
  .purchases__title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 30px;
  }
}
.purchases__item {
  width: 100%;
  min-height: 80px;
  margin-bottom: 15px;
  border-bottom: 1px solid #dedede;
}
@media (min-width: 1110px) {
  .purchases__item {
    max-width: 506px;
    margin-bottom: 25px;
  }
  .purchases__item:last-of-type {
    border: none;
  }
}
.purchases__article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 80px;
  margin-bottom: 11px;
}
@media (min-width: 1110px) {
  .purchases__article {
    max-width: 506px;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
}
.purchases__img {
  width: 80px;
  height: 80px;
  margin-right: 12px;
}
@media (min-width: 1110px) {
  .purchases__img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }
}
.purchases__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 196px;
}
@media (min-width: 1110px) {
  .purchases__info {
    width: 301px;
  }
}
.purchases__right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.purchases__left-column {
  width: 107px;
}
@media (min-width: 1110px) {
  .purchases__left-column {
    width: 180px;
  }
}
.purchases__right-column {
  width: 73px;
}
@media (min-width: 1110px) {
  .purchases__right-column {
    width: 92px;
  }
}
.purchases__link-name {
  text-decoration: none;
}
.purchases__name {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  color: #000000;
  margin-bottom: 28px;
}
@media (min-width: 1110px) {
  .purchases__name {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
  }
}
.purchases__price {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0;
  text-align: right;
  color: #000000;
}
@media (min-width: 1110px) {
  .purchases__price {
    font-size: 20px;
    line-height: 23px;
    text-align: left;
  }
}
.purchases__description-number {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1110px) {
  .purchases__description-number {
    min-height: 117px;
  }
}
.purchases__description {
  display: none;
}
@media (min-width: 1110px) {
  .purchases__description {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;
    width: 148px;
    margin-bottom: 21px;
  }
}
.purchases__number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 81px;
  border: 1px solid black;
  height: 34px;
}
@media (min-width: 1110px) {
  .purchases__number {
    height: 40px;
    width: 114px;
  }
}
.purchases__button-sign,
.purchases__number-count {
  background-color: #ffffff;
  border: none;
}
.purchases__button-sign {
  padding-left: 7px;
  padding-right: 7px;
}
.purchases__button-sign:hover {
  color: #ffffff;
  background-color: #000000;
}
.purchases__button-sign:active {
  opacity: 0.5;
}
@media (min-width: 1110px) {
  .purchases__button-sign {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.purchases__button-sign:hover .purchases__button-svg {
  stroke: #ffffff;
}
.purchases__button-svg {
  stroke: black;
  width: 13px;
  height: 13px;
  display: flex;
  align-items: center;
}
@media (min-width: 1110px) {
  .purchases__button-svg {
    width: 16px;
    height: 16px;
  }
}
.purchases__number-count {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
  width: 22px;
}
@media (min-width: 1110px) {
  .purchases__number-count {
    font-size: 20px;
    line-height: 23px;
    width: 26px;
  }
}
.purchases__delete {
  font-family: "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0;
  text-align: right;
  text-decoration: underline;
  border: none;
  background-color: #ffffff;
  color: #9f9f9f;
  padding: 0;
}
.purchases__delete:hover {
  color: #000000;
}
@media (min-width: 1110px) {
  .purchases__delete {
    font-size: 14px;
    line-height: 16px;
  }
}
.purchases__total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 23px;
  z-index: 1000;
}
@media (min-width: 1110px) {
  .purchases__total {
    margin: 0;
    background-color: #000000;
    opacity: 0.8;
    position: absolute;
    top: 564px;
    right: 0;
    width: 555px;
    height: 136px;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.purchases__title-total,
.purchases__total-price {
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  color: #000000;
}
@media (min-width: 1110px) {
  .purchases__title-total,
  .purchases__total-price {
    font-size: 40px;
    line-height: 46px;
    color: #ffffff;
  }
}
.page-footer {
  height: 50px;
}


/*# sourceMappingURL=style.css.map*/